html{
    color:rgb(0, 0, 0)
    
}

header{
    text-indent: 35%;
    font-size:25px;
    line-height:3.5em;
    
    margin-top: 4%;
    

}

h1{
    color:rgb(139, 177, 100);

    
}

h2{
    color:rgb(141, 110, 70);
}

h3{
    color:rgb(139, 177, 100);
    margin-bottom:0.1%;
}

img {
    width: 40%;
    height: auto;
  }

.fixed{
    text-align:center
}
.fixed > p {
    vertical-align:top;
    display:inline-block;   
}