.tyler-heh{
    background-image: url("https://assets.community.lomography.com/69/f45474c8e6991ab63837c7c4887096f28e2918/1818x1228x2.jpg?auth=20328da7f53a60f45afeaf405fd240022b2906ab");
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 130px;
   color:rgb(194, 71, 71); 
}

h2{
    font-family: 'Courier New', monospace;
    text-indent:390px;
    color:rgb(224, 224, 224);
    font-size:35px;
    color:rgb(194, 71, 71); 
}
p{
    
    font-family: 'Courier New', monospace;
    font-size: 20px;
    text-indent: 390px;
    line-height: .25;
    color:rgb(223, 223, 223);
   background-color: rgba(0,0,0,.5);
}




