html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 70%;
    margin: auto;

     text-align: center;
    justify-content: center; 
    background-image: url("images/gradient.jpg");
    
}

h1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    line-height:100px;
    margin: 0px 10 10px 10;

}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200; 
    font-size: 25px;
    line-height:-20px;
    padding: 0;
  

}

.photo {
    background-position: center;
    background-repeat: no-repeat; 
    background-size:auto;
    height:200px;
}

header {
    margin: 15% 0 10% 0;
}

.project {
    margin: 10px;
    padding: 20px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    display: flex;
}

.links {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

heh {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 15px;
}

heh:hover {
    color: #575757;
    transition: .3s;
    font-style: bold;
    font-size: larger;
}